*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  transition: 0.3s ease;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}


.main-photo-container{
  position: relative;
  width: 100%;
}

.main-page-photo{
  width: 100%;
  height: auto;
  display: block;
}

.logo{
  position: absolute;
  top: 15%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: auto; 
  color: white;
}

.popular-collection{
  background-color: black;
  padding: 30px 30px 60px 30px;
  color: white;
}

.popular-collection-title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-family: Noto Sans;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
}

/* .popular-collection-gallary{
  margin: 10px;
} */

.slider-images{
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: gray !important;
}


/* CSS for ProductList component */

.product-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin: 5px;
}

.product-container {
  width: 25%;
  padding: 5px;
  margin: 12px 0px;
  color: black;
}

.product-container:hover{
  cursor: pointer;
}

.product-img-and-icon{
  position: relative;
}

.product-heart-icon{
  color: brown;
  position:absolute;
  top: 15px;
  right: 15px;
}


.product-name {
  font-size: 20px;
  font-weight: 300;
  text-transform: capitalize;
  margin: 9px 0px;
}

.product-price {
  font-size: 20px; 
  font-weight: 400;
}

.product-image {
  width: 100%;
}

.pagination{
  display: flex;
  justify-content: center;
  padding: 50px;
}

.product-list-top-section{
  display: flex;
  margin: 40px;
  justify-content: space-between;
  margin-top: 100px;
}

.new-collection-title{
  font-size: 28px;
}

.filter-icon{
  font-size: 24px;
  margin-right: 50px;
  transition: 0.3s;
  cursor: pointer;
}

.filter-icon:hover{
  color: brown;
}

.detailed-product-container{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  gap: 30px;
  height:991px;
}

.detailed-product-details{
  padding: 10px;
  margin-top: 172px;
}

.detailed-product-image{
  width: 660px;
  flex-shrink: 0;
  /* position: relative;  */
}

.detailed-product-name{
  font-size: 22px;
}

.detailed-product-price{
  font-size: 22px;
  margin-top: 10px;
  font-weight: 700;
}

.d-p-id{
  color: rgba(0, 0, 0, 0.40);
  font-weight: 300;
  margin-top: 5px;
}

.similar-products-title{
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.d-p-favorite{
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 10px;
  gap: 10px;
  display: inline-flex;;
  margin-top: 30px;
  width: auto;
  cursor: pointer;
}

.detailed-slider-images{
  width: 100%;
}

/* .detailed-slider{
} */

.photo-swiper-container{
    display: flex;
    overflow: auto;
    position: absolute;
    left: 0px;
    bottom: 95px;
    width: 28%;
    z-index: 2;
    transition-timing-function: linear;
    gap: 19px;
    height: 400px;
    cursor: pointer;
}

.product-description{
  margin-top: 41px;
}

.product-sizes{
  display: flex;
  gap: 10px;
}

.product-size{
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 12px;
  width: 35px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.product-description-text{
  width: 300px;
  margin-top: 10px;
}

/* Favorites Page */

.favorites-page{
  min-height: 600px;
}

.favorites-no-products{
  margin-top: 200px;
  text-align: center;
  text-transform: uppercase;
}

.favorites-text{
  font-size: 28px;
  margin-bottom: 80px;
}

.favorites-back-button{
  border: 1px solid black;
  padding: 10px 15px;
  background-color: white;
  color: black;
  transition: 0.3s;
  font-size: 20px;
}

.favorites-back-button:hover{
  background-color: black;
  color: white;
}