*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  transition: 0.3s ease;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}


.main-photo-container{
  position: relative;
  width: 100%;
}

.main-page-photo{
  width: 100%;
  height: auto;
  display: block;
}

.logo{
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: auto; 
  color: white;
}

.popular-collection{
  background-color: black;
  padding: 30px;
  color: white;
}

.popular-collection-title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  font-family: Noto Sans;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
}

/* .popular-collection-gallary{
  margin: 10px;
} */

.slider-images{
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: gray !important;
}


/* CSS for ProductList component */

.product-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin: 5px;
}

.product-container {
  width: 25%;
  padding: 5px;
}

.product-name {
  font-size: 20px;
  font-weight: 400;
}

.product-price {
  font-size: 20px; 
}

.product-image {
  width: 100%;
}

body{
  font-family: Noto sans;
}